nav{
    padding: 10px 30px;
    // background: #ee85b5;
    color:#ee85b5;
    display: flex;
    align-items: center;
    .brand{
        display: flex;
        .heart{
            fill: #ee85b5;
        }
    }
}