<div *ngIf="auth.user$ | async as user; else login">
  <div class="profile">
      <div class="profile-picture">
          <img [src]="user.photoURL">
        </div>
        <div class="user-information">
          <h2>{{ user.displayName }}</h2>
          <p>{{ user.email }}</p>
        </div>
        {{ user | json }}
        <hr>
        <button class="button signout" (click)="auth.signOut()">Sign Out</button>
  </div>
</div>

<ng-template #login>
  <button class="button login" (click)="auth.googleSignin()">
    Login with Google
  </button>
</ng-template>