<div class="masonry">
  <div class="masonry-container">
    <div class="masonry-item first"
      [ngStyle]="{ 'background-image': 'url(../../../assets/images/rachael-gorjestani-154906-unsplash.jpg)'}">
    </div>
    <div class="masonry-item second"
      [ngStyle]="{ 'background-image': 'url(../../../assets/images/anna-ribes-711749-unsplash.jpg)'}">
    </div>
    <div class="masonry-item third"
    [ngStyle]="{ 'background-image': 'url(../../../assets/images/ian-dooley-281897-unsplash.jpg)'}">
    </div>
  </div>
</div>